body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

header {
    background-color: #2c3e50;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 48px;
}

.row {
    text-align: center;
}
/* -----NAV BAR----- */
.navbar-brand {
    max-height: 100%;
    height: 100%;
}
h3 {
    color: white;
    font-size: 16px;
}
.navbar-default {
    background-color: #2c3e50;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    line-height: 75px;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;
}

 .menu-name {
    display: inline-block;
    font-size: 16px;
}

.icon {
    display: inline-block;
    color: white;
    padding-left: 5px;
}

.navbar-toggle {
    margin-top: 28px;
    background-color: #1abc9c;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
}

.navbar-header button {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse.collapse {
    padding-right: 50px;
}
/* -----FINE NAV BAR----- */

/* -----MAIN / JUMBO----- */

/*------ section 1------ */
.img-jumbo {
    width: 240px;
    margin: auto;
}

img {
    max-width: 100%;
}
main {
    padding-top: 75px;
}
section {
    padding: 100px 0;
    color: #2c3e50;
}

.with-bg-color {
    background-color: #1abc9c;
    color: white;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 1px;
    border-radius: 1px;
}

.title h1 {
    font-size: 44px;
}

.divider::before,
.divider::after {
    content: "";
    width: 100px;
    height: 3px;
    display: inline-block;
    background-color: #2c3e50;
    vertical-align: middle;
    border-radius: 2px;
}

.with-bg-color .divider::before,
.with-bg-color .divider::after {
    background-color: white;
}

.divider .fa-star {
    vertical-align: middle;
    padding: 0 10px;
}

.divider {
    padding: 20px 0;
}
/* -----fine section 1----- */

/* -----section 2----- */
.portfolio-img {
    margin-bottom: 38px;
    position: relative;
    border-radius: 10px;
}

.portfolio-img img {
    /* width: 400px; */
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    transition: all 2s;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.portfolio-img::after {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.portfolio-img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(26, 188, 1560, 0.8);
    border-radius: 10px;
    display: none
}

.portfolio-img:hover.portfolio-img::after,
.portfolio-img:hover.portfolio-img::before
 {
    display: block;
}


/* -----fine section 2 */

/* -----section 3----- */
#about p {
    text-align: left;
}

.download-btn {
    text-align: center;
    padding: 20px 0;
}
.btn-default {
    padding: 20px 40px;;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.btn-default:hover, .btn-default:hover .fa-download  {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.fa-download {
    color: white;
}

/* -----fine section3----- */

/* ------section 4----- */
#form .row form {
    text-align: left;
}

.form-control {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #e9ecef;
    box-shadow: none;
    padding: 20px 0;
    font-size: 20px;
}

.btn-primary {
    background-color: #1abc9c;
    padding: 20px 30px;
    font-size: 20px;
    border-color: #1abc9c;
}
.btn-primary:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}

.form-group {
    position: relative;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #999;
}

.form-group input:focus ~ label {
    top: -25px;
    color: #1abc9c;
}

.form-control {
    margin-bottom: 25px;
}

/* -----fine section 4----- */

/* -----footer----- */
footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 80px 0;
}

h4 {
    font-size: 24px;
    padding-bottom: 20px;
}

.social {
    font-size: 20px;
    color: white;
    padding: 8px;
    margin-top: 5px;
    text-align: center;
}

.social-contact {
    display: inline-block;
    padding: 5px;
    border-radius: 100%;
    border: 1px solid white;
    margin: 2px;
}

.social-contact:hover {
    background-color: #fff;
    color: #2c3e50;
}

.link-bootstrap {
    color: #1abc9c;
}

.link-bootstrap:hover {
    color: #117964;
}

.contacts {
    padding-top: 20px
}



/* -----fine footer----- */

.copyright {
    text-align: center;
    color: white;
    background-color: #1a252f;
    padding: 20px 0;
}
 .copyright p {
     font-size: 15px;
 }



/* -----MEDIAQUERY----- */

@media (min-width: 576px) {
    .portfolio-img img {
        max-width: 50%;
    }

}

@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
        font-size: 12px;
        padding: 9px 10px;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-header {
        float: none;
    }

    h3 {
        font-size: 28px;
    }

    .title h1 {
        font-size: 64px;
    }

    .portfolio-img img {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block!important;
    }

    .portfolio-img img {
        max-width: 100%;
    }


}
